{% extends "base.html" %}
{% block title %}Booking{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg" style="background-color: #333333; color: #ffffff;">
                <div class="card-header bg-royalblue text-white text-center">
                    <h2 class="mb-0">Book Your Appointment</h2>
                </div>
                <div class="card-body">
                    <form method="POST" id="bookingForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="serviceSelect">Select a Service:</label>
                            <select class="form-control" id="serviceSelect" name="service" required>
                                <option value="" disabled selected>Select a Service</option>
                                <option value="Haircut">Hair Cut - ₹25</option>
                                <option value="Beard Trim">Beard Trim - ₹15</option>
                                <option value="Shave">Shave - ₹20</option>
                                <option value="Haircut & Beard Trim">Cut & Trim - ₹35</option>
                                <option value="Haircut & Shave">Cut & Shave - ₹40</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="appointmentDate">Select Date:</label>
                            <input type="date" class="form-control" id="appointmentDate" name="appointmentDate">
                        </div>

                        <div class="form-group">
                            <label for="appointmentTime">Select Time:</label>
                            <input type="time" class="form-control" id="appointmentTime" name="appointmentTime" step="1800">
                        </div>

                        <button type="submit" class="btn btn-success btn-block">Book Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}