{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to our Barbershop</h1>
            <p class="lead">We offer a wide range of services to help you look and feel your best.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Book an Appointment</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Haircuts</h2>
                <p>Our experienced barbers will give you a haircut that suits your style and personality.</p>
                <a class="btn btn-secondary" href="#" role="button">Learn more</a>
            </div>
            <div class="col-md-4">
                <h2>Beard Trims</h2>
                <p>Our beard experts will help you maintain a well-groomed and stylish beard.</p>
                <a class="btn btn-secondary" href="#" role="button">Learn more</a>
            </div>
            <div class="col-md-4">
                <h2>Shaves</h2>
                <p>Experience the luxury of a traditional hot towel shave with our skilled barbers.</p>
                <a class="btn btn-secondary" href="#" role="button">Learn more</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h2>About Us</h2>
                <p>We are a team of experienced barbers who are passionate about helping our clients look and feel their best. Our barbershop is a welcoming and comfortable space where you can relax and enjoy a great haircut, beard trim, or shave.</p>
            </div>
            <div class="col-md-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Barbershop</strong><br>
                    123 Main St<br>
                    Anytown, USA 12345<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
        </div>
    </div>
{% endblock %}
